@tailwind base;
@tailwind components;
@tailwind utilities;

#light {
  /* @apply bg-gray-100; */
  background-color: white;
}
#dark {
  /* @apply bg-gray-900; */
    background-color: #212121;
    color: white;
}

pageTitle {
  /* @apply text-2xl; */
  font-size: 2rem;
}

.App {
  text-align: center;
}
