$colors: (
    common: (
        white: #ffffff,
        black: #292930,
        blue:#82CEFD,
        pink:#FFADAD,
        dpink:#FD346E,
        paste:#1EE2CF,
    ),
    heading: (
        primary: #292930,
    ),
    grey: (
        1:#F7F8FD,
        2:#f8f8f8,

    ),
    text: (
        body:#8A90A2,
        p:#8A90A2,
    ),
    theme: (
        1: #5956E9,
        2: #423EF3,
        primary: #FFDC60,
        secondary: #57c9da,

    ),
    border: (
        1: #E8ECF2,
    )
);

